<div class="prose">
  <h1 class="text-center">All Movies</h1>
  <p class="text-center text-sm">Note: click on the timeslot to book!</p>
  <table class=" border-separate border-spacing-2 border border-slate-400">
    <thead>
      <tr class="text-center">
        <th class="border border-slate-300 ">Movie</th>
        <th class="border border-slate-300 ">Screening Time</th>
        <th class="border border-slate-300 ">Cinema</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td>
            <ul class="list-none">
              <% movie.screenings.each do |screening| %>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to screening.timeslot.start_time, new_booking_path(screening_id: screening.id) %>
                  <% else %>
                    <%= link_to screening.timeslot.start_time, new_user_session_path %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="list-none">
              <% movie.screenings.each do |screening| %>
                <li>
                  <%= screening.cinema.cinema_number %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
