<div class="prose">
  <h1 class="text-center">All Malls</h1>
  <table class="border-collapse border border-gray-300 w-full">
    <thead class="bg-gray-200">
      <tr>
        <th class="border border-gray-300 px-4 py-2">Mall Name</th>
        <th class="border border-gray-300 px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @malls.each do |mall| %>
        <tr>
          <td class="border border-gray-300 px-4 py-2"><%= link_to mall.name, admin_mall_path(mall) %></td>
          <td class="border border-gray-300 px-4 py-2">
            <%= link_to "Add A Movie", create_movie_admin_mall_url(mall) %> |
            <%= link_to "Create Screenings", new_admin_screening_path(mall_id: mall.id) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="text-center" colspan="2">
          <span class="text-sm">Mall not found? <%= link_to "Register a Mall Here", new_admin_mall_path %></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
